{% extends "user/base.html" %}
{% block title %}Analysis{% endblock %}

{% block content %}

<div class="mt-14 py-3 bg-white dark:bg-gray-800">
  <div class="flex justify-between items-center gap-2 px-4 mb-4">
    <a href="{{ url_for('public.user_analysis', range='7') }}"
       class="px-3 py-1 rounded bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 text-sm">
       Last 7 days
    </a>
  
    <a href="{{ url_for('public.user_analysis', range='30') }}"
       class="px-3 py-1 rounded bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 text-sm">
       Last 30 days
    </a>
  
    <a href="{{ url_for('public.user_analysis', range='all') }}"
       class="px-3 py-1 rounded bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 text-sm">
       All time
    </a>
  </div>
  
  {% if best_post %}
  <div class="bg-white dark:bg-gray-800 p-4 rounded-lg mt-6 mx-4">
    <h3 class="text-sm text-center md:text-left font-bold text-gray-700 dark:text-gray-400">Best Performing Post</h3>
    <p class="text-lg text-gray-900 dark:text-yellow-500 text-center font-bold">{{ best_post.title }}</p>
    <p class="text-sm text-center text-gray-700 dark:text-gray-400">
      {{ best_post.views }} views · 
      {{ likes_map.get(best_post.id, 0) }} likes
    </p>
  </div>
  {% endif %}
</div>

<div class="gap-6 grid grid-cols-2 md:grid-cols-3 mb-6 px-4 mt-5">
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs">
      <h3 class="text-sm text-gray-700 dark:text-gray-400">Total Views</h3>
      <!--<span class="px-4 {% if views_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if views_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ views_growth }}%
      </span>-->
    </div>
    <p class="text-2xl mt-5 text-gray-900 dark:text-white font-bold">{{ total_views }}</p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs mb-5">
      <h3 class="text-sm text-gray-700 dark:text-gray-400">Total Likes</h3>
      <!--<span class="px-4 {% if likes_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if likes_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ likes_growth }}%
      </span>-->
    </div>
    <p class="text-2xl text-gray-900 dark:text-white font-bold">{{ total_likes }}</p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <h3 class="text-sm text-gray-700 dark:text-gray-400 mb-5">Total Posts</h3>
    <p class="text-2xl text-gray-900 dark:text-white font-bold">{{ no_of_posts }} Posts</p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="mb-5 text-xs">
      <h3 class="text-sm text-gray-700 dark:text-gray-400">Posts per day</h3>
      <!--<span class="px-4 {% if posts_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if posts_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ posts_growth }}%
      </span>-->
    </div>
    <p class="text-2xl text-gray-900 dark:text-white font-bold">{{ posts_per_day }} per day</p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs">
      <h3 class="text-sm text-gray-700 dark:text-gray-400">Total Time Read</h3>
     <!-- <span class="px-4 {% if read_time_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if read_time_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ read_time_growth }}%
      </span>-->
    </div>
    <p class="text-2xl text-gray-900 dark:text-white mt-5 font-bold">{{ total_read_time }} min</p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-center text-xs mb-5">
      <h3 class="text-sm text-gray-700 dark:text-gray-400">Avg Time per View</h3>
    </div>
    <p class="text-2xl text-gray-900 dark:text-white font-bold">{{ avg_time_per_view }} min</p>
  </div>
</div>

<!--<div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
  <div class="flex justify-between text-xs">
    <h3 class="text-sm text-gray-700 dark:text-gray-400">General Growth</h3>
      <span class="px-4 {% if growth_percentage >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if growth_percentage >= 0 %}▲{% else %}▼{% endif %}
        {{ growth_percentage }}%
      </span>
  </div>
  <p class="text-2xl text-gray-900 dark:text-gray-400 font-bold">
  {{ growth_percentage }}%
  </p>
</div>
-->
<div class="grid grid-cols-2 mb-6 gap-6 px-4 mt-5">
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs">
      <span class="text-sm text-gray-700 dark:text-gray-400">Impressions</span>
      <!--<span class="px-4 {% if impressions_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if impressions_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ impressions_growth }}%
      </span>-->
    </div>
    <p class="text-2xl text-center font-bold text-gray-900 dark:text-white mt-5">
      {{ impressions }}
    </p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs">
      <span class="text-sm text-gray-700 dark:text-gray-400">Replies</span>      
      <!--<span class="px-4 {% if replies_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if replies_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ replies_growth }}%
      </span>-->
    </div>
    <p class="text-2xl text-center font-bold text-gray-900 dark:text-white mt-5">
      {{ total_replies }}
    </p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs">
      <span class="text-sm text-gray-700 dark:text-gray-400">Engagements</span>
      <!--<span class="px-4 {% if engagements_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if engagements_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ engagements_growth }}%
      </span>-->
    </div>
    <p class="text-2xl text-center font-bold text-gray-900 dark:text-white mt-5">
      {{ total_engagements }}
    </p>
  </div>
  
  <div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="text-xs">
      <span class="text-sm text-gray-700 dark:text-gray-400">Engagement rate</span>
      <!--<span class="px-4 {% if engagement_rate_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if engagement_rate_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ engagement_rate_growth|default(0) }}%
      </span>-->
    </div>
    <p class="text-2xl text-center font-bold text-gray-900 dark:text-white mt-5">
      {{ engagement_rate }}%
    </p>
  </div>

  <!--<div class="bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 shadow rounded-xl p-4 flex-1 text-center">
    <div class="flex justify-between text-xs">
      <span class="text-sm text-gray-700 dark:text-gray-400">Shares</span>
      <span class="px-4 {% if shares_growth >= 0 %}text-green-500{% else %}text-red-500{% endif %}">
        {% if shares_growth >= 0 %}▲{% else %}▼{% endif %}
        {{ shares_growth }}%
      </span>
    </div>
    <p class="text-2xl font-bold text-gray-900 dark:text-white mt-1">
      {{ total_shares }}
    </p>
  </div>-->
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="viewsChart"></canvas>

<script>
new Chart(document.getElementById("viewsChart"), {
  type: "line",
  data: {
    labels: {{ chart_labels|tojson }},
    datasets: [
      {
        label: "Views",
        data: {{ views_data|tojson }},
        borderWidth: 2,
        tension: 0.4
      },
      {
        label: "Likes",
        data: {{ likes_data|tojson }},
        borderWidth: 2,
        tension: 0.4
      }
    ]
  },
  options: {
    plugins: {
      legend: {
        labels: {
          color: "#e5e7eb"
        }
      }
    },
    scales: {
      x: {
        ticks: { color: "#1f2937" },
        grid: { color: "#e5e7eb" }
      },
      y: {
        ticks: { color: "#1f2937" },
        grid: { color: "#e5e7eb" }
      }
    }
  }
});
</script>

{% endblock %}