{% extends "user/base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-12 p-6 rounded shadow-md">
    <h2 class="text-2xl text-black dark:text-gray-100 font-semibold mb-4 text-center">Forgot Password</h2>

    <form method="POST" action="{{ url_for('public.forgot_password') }}">
        {{ form.hidden_tag() }}

        <div class="mb-4">
            {{ form.email.label(class_="block text-sm text-black dark:text-gray-100 font-medium mb-1") }}
            {{ form.email(placeholder="Add your email", class_="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-500") }}
        </div>

        <div class="mb-4">
            {{ form.submit(class_="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded") }}
        </div>
    </form>

    <p class="text-sm text-gray-500 text-center">
        Remembered your password? 
        <a href="{{ url_for('public.user_login') }}" class="text-blue-500 hover:underline">Login</a>
    </p>
</div>
{% endblock %}