{% extends "base.html" %}
{% block title %}{{ 'Edit' if post else 'Create' }} Post - My Blog{% endblock %}

{% block content %}
<div class="max-w-4xl py-14 mx-auto shadow rounded px-6 flex-1 bg-white/5 shadow-md">

  <h1 class="text-2xl font-bold mb-4">
    {{ 'Edit' if post else 'Create' }} Post
  </h1>

  <form method="POST" id="post-form" enctype="multipart/form-data">
      {{ form.hidden_tag() }} 

      <div class="relative">
      {{ form.category.label(class="block font-medium mb-2") }}
      {{ form.category(class="w-full px-3 py-2 rounded bg-gray-800 text-white focus:outline-none appearance-none") }}
      {% for error in form.category.errors %}
        <p class="text-red-500 text-sm">{{ error }}</p>
      {% endfor %}

        <div class="pointer-events-none absolute inset-y-12 right-0 flex items-center px-2 text-white">
            ▼
        </div>
      </div>

      <div class="relative">
      {{ form.labels.label(class="block font-medium mb-2") }}
      {{ form.labels(class="w-full px-3 py-2 mb-4 rounded bg-gray-800 text-white focus:outline-none appearance-none", multiple=True) }}
    </div>
    <div class="grid justify-center">
    
      {{ form.image.label(
          class="block my-3 border border-blue-700 py-3 rounded-2xl text-center font-medium"
      ) }}
    
      {{ form.image(
          class="mb-4 block px-4 py-3 rounded border border-gray-600",
          id="imageInput",
          accept="image/*"
      ) }}
    
      <div class="flex justify-center items-center">
        <img
          id="preview"
          src="{{ post.featured_image if post and post.featured_image else '' }}"
          class="mb-4 w-70 h-50 object-cover rounded border border-gray-300"
          style="{{ 'display:block;' if post and post.featured_image else 'display:none;' }}"
        >
      </div>
    </div>

    <div class="bg-gray-700 p-4 rounded">
    <div>
        {{ form.title.label(class_="block font-medium mb-2") }}
        {{ form.title(class_="w-full py-3 px-4 mb-2 bg-white/10 rounded text-white border focus:outline-none border-white/10 bg-white/10 transition focus:bg-blue-500/5 focus:border-blue-500", placeholder="Post Title") }}
      {% for error in form.title.errors %}
        <p class="text-red-500 text-sm">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="relative mt-4">
      <label class="block font-medium mb-2">Tags</label>
      <input
        type="text"
        id="tag-input"
        class="w-full mb-2 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500"
        placeholder="Type and press Enter(e.g Messi, viral)"
        autocomplete="off"
      />

      <div id="tag-suggestions"
           class="absolute z-50 bg-gray-900 border border-gray-700 w-full rounded mt-1 hidden"></div>

      <div id="selected-tags" class="flex flex-wrap gap-2 mt-2"></div>
    
      <input type="hidden" name="tags" id="tags-hidden" />
    </div>

      <div>
        {{ form.content.label(class_="block font-medium mb-2") }}
        {{ form.content(rows="10", id="editor", placeholder="Write your content here...",
              class_="w-full h-64 mb-2 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500") }}
      {% for error in form.content.errors %}
        <p class="text-red-500 text-sm">{{ error }}</p>
      {% endfor %}
    </div>
      </div>
    <div class="flex justify-end gap-2 mt-4">
      <!-- Save as draft -->
      <button type="submit" name="submit_type" id="save-draft" value="draft"
              class="bg-blue-200 px-4 py-2 rounded text-blue-600">
          Save Draft
      </button>
      
      <!-- Regular create/update -->
      <button type="submit" name="submit_type" id="publish" value="publish"
              class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 shadow-lg transition relative font-medium overflow-hidden hover:-translate-y-0.5 hover:shadow-[0_0_15px_rgba(50,130,246,0.4)]">
          {{ 'Update' if post else 'Create' }}
      </button>
    </div>
  </form>
</div>

<link rel="stylesheet"
      href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<script>
const editor = new EasyMDE({
  element: document.getElementById("editor"),
  autosave: {
    enabled: true,
    uniqueId: "{{ post.id if post else 'new-post' }}",
    delay: 1000,
  },
});


function syncEditor() {
  if (editor && editor.codemirror) {
    editor.codemirror.save();
  }
}

const form = document.getElementById("post-form");
// Desktop + Mobile safe
form.addEventListener("submit", syncEditor);
// Extra safety for mobile tap
document.getElementById("save-draft").addEventListener("click", syncEditor);
document.getElementById("publish").addEventListener("click", syncEditor);
</script>

<script>
const imageInput = document.getElementById("imageInput");
const preview = document.getElementById("preview");

imageInput.addEventListener("change", function() {
    const file = this.files[0];
    if (file) {
        const reader = new FileReader();

        reader.addEventListener("load", function() {
            preview.setAttribute("src", this.result);
            preview.style.display = "block";
        });

        reader.readAsDataURL(file);
    } else {
        preview.setAttribute("src", "");
        preview.style.display = "none";
    }
});
</script>

<script>
  // Preload tags from server
  {% if post %}
  window.existingTags = {{ post.tags|map(attribute='name')|list|tojson }};
  {% else %}
  window.existingTags = [];
  {% endif %}
</script>

{% endblock %}