{% extends "base.html" %}
{% block title %}{{ 'Edit' if post else 'Create' }} Post - My Blog{% endblock %}

{% block content %}
<div class="max-w-4xl py-14 mx-auto shadow rounded px-6 flex-1 bg-white/5 shadow-md">

  <h1 class="text-2xl font-bold mb-4">
    {{ 'Edit' if post else 'Create' }} Post
  </h1>

  <form method="POST" enctype="multipart/form-data">
      <div class="relative">
        <select name="category" required
                class="w-full px-3 py-2 rounded bg-gray-800 text-white focus:outline-none appearance-none">
            <option value="">Select Category </option>
            {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if post and post.category_id == category.id %}
                        selected
                    {% endif %}
                >{{ category.name }}</option>
            {% endfor %}
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-white">
            ▼
        </div>
      </div>

      <div class="relative">
      <!-- Labels -->
      <label class="block mb-2 font-medium">Labels</label>
      <select name="labels" multiple class="w-full px-3 py-2 mb-4 rounded bg-gray-800 text-white focus:outline-none appearance-none">
        {% for label in labels %}
          <option value="{{ label.id }}"
            {% if post and label.id in post.labels|map(attribute='id')|list %}selected{% endif %}>
            {{ label.name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="grid justify-center">
      <label class="block my-3 border border-blue-700 py-3 rounded-2xl text-center font-medium">Featured Image</label>
      <input type="file" name="image" accept="image/*" 
             id="imageInput" class="mb-4 block items-center px-4 py-3 rounded border border-gray-600">
      
      <div class="flex justify-center items-center">
        <img id="preview" src="{{ url_for('static', filename='images/uploads/' ~ post.image) if post and post.image else '' }}"
             class="mb-4 w-70 h-50 object-cover rounded border border-gray-300"
             style="{{ 'display:block;' if post and post.image else 'display:none;' }}">
        </div>
      </div>

    <div class="bg-gray-700 p-4 rounded">
    <label class="block mb-2 font-medium">Title</label>
    <input type="text"
           name="title"
           value="{{ post.title if post else '' }}"
           placeholder="Post title"
           class="w-full mb-4 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500"
           required>

    <label class="block mb-2 font-medium">Label</label>
    <input
      type="text"
      name="label"
      placeholder="Image label (Short write-up on the content)"
      class="w-full mb-3 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500"
    >

    <label class="block mb-2 font-medium">Content</label>
    <textarea id="editor"
              name="content"
              rows="10"
              placeholder="Write your content here..."
              class="w-full h-64 mb-2 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500"
              required>{{ post.content if post else '' }}</textarea>
      </div>
        
    <div class="flex justify-end gap-2 mt-4">
      <button type="submit" value="1" class="bg-blue-200 px-4 py-2 rounded text-blue-600">Save Draft</button>
      <button type="submit" name="is_published" value="1" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">{{ 'Update' if post else 'Create' }}</button>
    </div>
  </form>
</div>

<link rel="stylesheet"
      href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

<script>
const editor = new EasyMDE({
  element: document.getElementById("editor"),
  autosave: {
    enabled: true,
    uniqueId: "blog-editor",
    delay: 1000,
  },
});
</script>

<script>
const imageInput = document.getElementById("imageInput");
const preview = document.getElementById("preview");

imageInput.addEventListener("change", function() {
    const file = this.files[0];
    if (file) {
        const reader = new FileReader();

        reader.addEventListener("load", function() {
            preview.setAttribute("src", this.result);
            preview.style.display = "block";
        });

        reader.readAsDataURL(file);
    } else {
        preview.setAttribute("src", "");
        preview.style.display = "none";
    }
});
</script>

{% endblock %}