{% extends "base.html" %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="mt-8 w-full bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
  
  <aside id="sidebar" class="fixed inset-y-auto md:hidden min-h-screen left-0 w-64 bg-white dark:bg-gray-900 text-white transform -translate-x-full md:translate-x-0 transition-transform duration-300 z-50">
    <div class="p-5 text-xl text-gray-700 dark:text-gray-200 font-bold border-b border-gray-700">Superior Master</div>
    <nav class="p-4 text-gray-900 dark:text-yellow-600 space-y-3">
      <a href="{{ url_for('admin.analytics') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Analysis</a>
      <a href="{{ url_for('admin.admin_messages') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Messages</a>
      {% for msg in messages %}
        <a href="{{ url_for('admin.view_message', id=msg.id) }}" 
           class="block px-4 py-2 rounded hover:bg-gray-800">
          View Message
        </a>
      {% endfor %}
      <a href="{{ url_for('billings.admin_payments') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Revenue</a>
      <a href="{{ url_for('admin.list_subscribers') }}" class="block px-4 py-2 rounded hover:bg-gray-800">View Subscribers</a>
      <a href="{{ url_for('admin.list_campaigns') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Campaigns</a>
      <a href="{{ url_for('admin.create_draft') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Create Drafts</a>
      <a href="{{ url_for('admin.list_drafts') }}" class="block px-4 py-2 rounded hover:bg-gray-800">View All Drafts</a>
      <a href="{{ url_for('admin.tags') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Tags Used</a>
      <a href="{{ url_for('admin.users') }}" class="block px-4 py-2 rounded hover:bg-gray-700">Users</a>
      <a href="{{ url_for('admin.ad_form') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Create Ads</a>
      <a href="{{ url_for('admin.ads_list') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Ads List</a>
      <a href="{{ url_for('admin.change_password') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Change Password</a>
    </nav>
  </aside>
  
  <div class="px-4 mt-3 flex gap-6 items-center">
    <button id="menuBtn" class="text-gray-700 text-2xl md:hidden"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <h1 class="text-2xl text-gray-700 dark:text-gray-200 font-bold">Admin Dashboard</h1>
  </div>
  
   <div class="hidden mx-0 md:block justify-between rounded w-full bg-gray-200 dark:bg-gray-900 text-gray-900 dark:text-white transform transition-transform duration-300 z-50 overflow-x-auto overflow-y-hidden whitespace-nowrap touch-pan-x scrollbar-hide">
    <nav class="flex space-y-2 flex-row flex-nowrap text-gray-900 dark:text-white gap-2 p-4 snap-x snap-mandatory">
      <a href="{{ url_for('admin.analytics') }}" class="block px-4 py-4 rounded hover:bg-gray-400 snap-start">Analysis</a>
      <a href="{{ url_for('admin.admin_messages') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">Messages</a>
      {% for msg in messages %}
        <a href="{{ url_for('admin.view_message', id=msg.id) }}" 
           class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">
          View Message
        </a>
      {% endfor %}
      <a href="{{ url_for('billings.admin_payments') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Revenue</a>
      <a href="{{ url_for('admin.list_subscribers') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">View Subscribers</a>
      <a href="{{ url_for('admin.list_campaigns') }}" class="block px-4 py-2 rounded hover:bg-gray-400">Campaigns</a>
      <a href="{{ url_for('admin.create_draft') }}" class="block px-4 py-2 rounded hover:bg-gray-400">Create New Draft</a>
      <a href="{{ url_for('admin.list_drafts') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">View All Drafts</a>
      <a href="{{ url_for('admin.tags') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">Tags Used</a>
      <a href="{{ url_for('admin.users') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">Users</a>
      <a href="{{ url_for('admin.ad_form') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Create Ads</a>
      <a href="{{ url_for('admin.ads_list') }}" class="block px-4 py-2 rounded hover:bg-gray-800">Ads List</a>
      <a href="{{ url_for('admin.settings') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">Settings</a>
      <a href="{{ url_for('admin.change_password') }}" class="block px-4 py-2 rounded hover:bg-gray-400 snap-start">Change Password</a>
    </nav>
  </div>
  
    <!-- Search & Filters -->
  <form method="GET" class="flex flex-col md:flex-row gap-3 px-4 md:gap-4 sm:items-center py-7">
    <input type="text"
           name="q"
           value="{{ q }}"
           placeholder="Search posts..."
           class="w-full border-gray-300 dark:border-gray-600 text-sm text-black bg-white dark:bg-gray-700 text-gray-900 dark:text-gray-100 placeholder-gray-400 dark:placeholder-gray-400 sm:flex-1 border rounded px-3 py-2 text-sm">

    <select name="status" class="w-full border sm:w-40 border-gray-300 dark:border-gray-600 rounded px-3 py-2 text-sm dark:bg-gray-700 text-gray-800 dark:text-gray-100">
      <option value="all" {{ 'selected' if status == 'all' }}>All</option>
      <option value="published" {{ 'selected' if status == 'published' }}>Published</option>
      <option value="draft" {{ 'selected' if status == 'draft' }}>Drafts</option>
      <option value="rejected" {{ 'selected' if status == 'rejected' }}>Rejected</option>
      <option value="published" {{ 'selected' if status == 'published' }}>Published</option>
    </select>

    <button class="w-full sm:w-auto bg-yellow-600 text-white px-4 py-2 border rounded text-sm">
      Filter
    </button>
  </form>
  
  <!-- Sidebar -->
  <div class="flex h-fit px-4 hidden md:block bg-gray-300 dark:bg-gray-700 shadow overflow-hidden">
    <aside class="w-full shadow p-4 h-fit border">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl text-gray-800 dark:text-gray-100 font-semibold">Posts</h2>
      </div>

    <section class="flex-1">

    <div class="bg-gray-700 shadow rounded-lg overflow-hidden">
      <table class="w-full text-gray-900 dark:text-gray-100 text-sm">
        <thead class="text-gray-700 dark:text-gray-200 bg-gray-200 dark:bg-gray-700 text-left">
          <tr>
            <th class="px-4 py-3">Title</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Date</th>
            <th class="px-4 py-2">Moderation</th>
            <th class="px-4 py-3 text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for post in posts %}
          <tr class="border-t hover:bg-gray-50 bg-gray-200 dark:bg-gray-700 border-gray-300 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-700">
            <td class="px-4 dark:text-yellow-600 text-gray-800 py-3 font-medium">
              <a href="{{ url_for('admin.view_post', id=post.id) }}"
                class="hover:underline">
                {{ post.title }}
              </a>
            </td>
            
            <td class="px-4 py-3">
            <span class="px-2 py-1 text-xs rounded 
          {% if post.status == 'published' %}bg-green-100 dark:bg-green-700 text-green-700 dark:text-green-100
          {% elif post.status == 'draft' %}bg-gray-100 dark:bg-gray-600 text-gray-600 dark:text-gray-100
          {% elif post.status == 'rejected' %}bg-red-100 dark:bg-red-700 text-red-700 dark:text-red-100
          {% elif post.status == 'pending_review' %}bg-yellow-100 dark:bg-yellow-700 text-yellow-700 dark:text-yellow-100{% endif %}">
            {{ post.status|capitalize }}
          </span>
            </td>

            <td class="px-4 py-3 text-gray-500 dark:text-gray-400">
              {{ post.created_at.strftime('%B %d, %Y') }}
            </td>

          <td class="px-4 py-3 text-gray-500 dark:text-gray-400">
          {{ post.rejection_reason or 'No issues detected' }}
        </td>

        <td class="py-1">
          {% if post.status in ['pending', 'pending_review'] %}
            <div class="flex flex-col gap-2">
              <form action="{{ url_for('admin.approve_post', id=post.id) }}" method="POST">
                <button class="w-full bg-green-600 text-white py-2 rounded text-sm">Approve</button>
              </form>
        
              <form action="{{ url_for('admin.reject_post', id=post.id) }}" method="POST">
                <input type="text" name="reason" placeholder="Reason for rejection" class="w-full border rounded text-black px-3 py-2 text-sm mb-2">
                <button class="w-full bg-red-600 text-white py-2 rounded text-sm">Reject</button>
              </form>
            </div>
            {% elif post.status == 'draft' %}
            <span class="text-xs text-gray-500 text-right">Saved as draft</span>
            {% elif post.status == 'rejected'%}
            <span class="text-sm text-gray-400">
            {{ post.rejection_reason or 'Reviewed' }}
            </span>
              <form action="{{ url_for('admin.delete', id=post.id) }}" method="POST" onsubmit="return confirm('Are you sure?')">
                <button type="submit" class="text-sm rounded py-2 w-full bg-gray-400 dark:bg-gray-600 text-red-500 dark:text-red-400 text-red-500 hover:underline">Delete</button>
              </form>
            {% elif post.status == 'scheduled' %}
              <p class="text-xs text-gray-400 text-right">scheduled</p>
            {% else %}
              <p class="text-xs text-gray-400 text-right">Approved</p>
            {% endif %}
          </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="4" class="text-center py-6 text-gray-500">
              No posts found.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
  </aside>
  </div>
  
  <div class="md:hidden space-y-4 px-4">
    {% for post in posts %}
    <div class="bg-gray-200 dark:bg-gray-900 rounded-lg p-4 shadow">
      
      <h3 class="font-semibold text-lg text-gray-800 dark:text-yellow-600">
        <a href="{{ url_for('admin.view_post', id=post.id) }}"
        class="hover:underline">
          {{ post.title }}
        </a>
      </h3>

      <p class="text-sm mb-1 text-gray-500 dark:text-gray-400">Category: {{ post.category.name if post.category else 'None' }}</p>
  
      <div class="flex justify-between text-sm mb-2">
      <span class="px-2 py-1 rounded text-xs
      {% if post.status == 'published' %}bg-green-100 dark:bg-green-700 text-green-700 dark:text-green-100
      {% elif post.status == 'draft' %}bg-gray-100 dark:bg-gray-600 text-gray-600 dark:text-gray-100
      {% elif post.status == 'rejected' %}bg-red-100 dark:bg-red-700 text-red-700 dark:text-red-100
      {% elif post.status == 'pending_review' %}bg-yellow-100 dark:bg-yellow-700 text-yellow-700 dark:text-yellow-100{% endif %}">
        {{ post.status|capitalize }}
      </span>
  
        <span class="text-gray-500 dark:text-gray-400">
          {{ post.created_at.strftime('%b %d, %Y') }}
        </span>
      </div>

      <p class="text-sm text-gray-500 dark:text-gray-300 mb-3">
        {{ post.rejection_reason or 'No issues detected' }}
      </p>
      
    {% if post.status in ['pending', 'pending_review'] %}
    <div class="flex flex-col gap-2">
      <form action="{{ url_for('admin.approve_post', id=post.id) }}" method="POST">
        <button class="w-full bg-green-600 text-white py-2 rounded text-sm">Approve</button>
      </form>

      <form action="{{ url_for('admin.reject_post', id=post.id) }}" method="POST">
        <input type="text" name="reason" placeholder="Reason for rejection" class="w-full text-black border rounded px-3 py-2 text-sm mb-2">
        <button class="w-full bg-red-600 text-white py-2 rounded text-sm">Reject</button>
      </form>
    </div>
    {% elif post.status == 'draft' %}
    <span class="text-xs text-gray-500 text-right">Saved as draft</span>
    {% elif post.status in ['rejected', 'published'] %}
    <span class="text-sm text-gray-400">
    {{ post.rejection_reason or 'Reviewed' }}
    </span>
      <form action="{{ url_for('admin.delete', id=post.id) }}" method="POST" onsubmit="return confirm('Are you sure?')">
        <button type="submit" class="text-sm rounded py-2 w-full bg-red-600 text-white hover:underline">Delete</button>
      </form>
    {% else %}
      <p class="text-xs text-gray-400 text-right">Scheduled</p>
    {% endif %}
    </div>
    {% else %}
      <div class="text-center py-6 text-gray-500">
        No posts found.
      </div>
    {% endfor %}
  </div>
  
  <!-- Pagination -->
  <div class="px-4 flex justify-center my-3 gap-2">
    {% if posts.has_prev %}
      <a href="{{ url_for('admin.dashboard', page=posts.prev_num, q=q, status=status) }}"
         class="px-3 py-1 border hover:bg-gray-200
         dark:hover:bg-gray-700 bg-gray-300 dark:bg-gray-800 text-black dark:text-white rounded">Prev</a>
    {% endif %}

    <span class="px-3 py-1 text-gray-500">
      Page {{ posts.page }} of {{ posts.pages }}
    </span>

    {% if posts.has_next %}
      <a href="{{ url_for('admin.dashboard', page=posts.next_num, q=q, status=status) }}"
         class="px-3 py-1 border hover:bg-gray-200
         dark:hover:bg-gray-700 bg-gray-300 dark:bg-gray-800 text-black dark:text-white rounded">Next</a>
    {% endif %}
  </div>
</div>

<!-- Backdrop -->
<div 
  id="backdrop"
  class="fixed inset-0 bg-black/40 hidden z-40 md:hidden">
</div>

<script>
  const sidebar = document.getElementById('sidebar');
  const menuBtn = document.getElementById('menuBtn');
  const backdrop = document.getElementById('backdrop');

  function openSidebar() {
    sidebar.classList.remove('-translate-x-full');
    backdrop.classList.remove('hidden');
  }

  function closeSidebar() {
    sidebar.classList.add('-translate-x-full');
    backdrop.classList.add('hidden');
  }

  menuBtn.addEventListener('click', openSidebar);
  backdrop.addEventListener('click', closeSidebar);
</script>

{% endblock %}