{% extends "base.html" %}
{% block content %}

<div class="flex justify-center py-10 min-h-screen">
  <div class="w- p-8 rounded-lg shadow-lg">
    <form method="POST" action="{{ url_for('admin.login') }}" class="space-y-4 p-4 border border-rose-100">
      {{ form.hidden_tag() }}
      <h2 class="font-bold mb-6 text-center text-4xl bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-cyan-400">Login</h2>
      <div>
        {{ form.identifier.label(class_="block text-sm font-medium text-gray-100") }}
        {{ form.identifier(class_="w-full mb-2 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500") }}
    </div>
      <div>
        {{ form.password.label(class_="block text-sm font-medium text-gray-100") }}
        {{ form.password(class_="w-full mb-2 py-3 px-4 border-white/10 bg-white/10 border rounded text-white transition focus:outline-none focus:bg-blue-500/5 focus:border-blue-500") }}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" onclick="show_pass()">
            <label class="form-check-label">Show Password</label>
        </div>
    </div>
      {{ form.submit(class_="w-full text-white px-8 py-3 bg-blue-600 rounded-xl shadow-lg hover:bg-blue-700 transition relative font-medium overflow-hidden hover:-translate-y-0.5 hover:shadow-[0_0_15px_rgba(50,130,246,0.4)]") }}
    </form>
  </div>
</div>

<script>
function show_pass() {
  const password = document.getElementById("password");
  password.type = password.type === "password" ? "text" : "password";
}
</script>

{% endblock %}