{% extends "user/base.html" %}
{% block title %}Search{% endblock %}

{% block content %}

<h2 class="text-3xl text-center dark:text-white font-bold py-6 mt-14">
  Search results for "{{ query }}"
</h2>

<div class="space-y-6 border dark:text-yellow-500 text-gray-700 rounded-xl text-center mx-2">
  {% for post in results %}
    <h3 class="text-2xl font-semibold hover:underlineleading-snug line-clamp-1">
      <a href="{{ url_for('public.post_detail', slug=post.slug) }}" class="block">
        {{ post.title }}
      </a>
    </h3>
  {% else %}
    <p class="text-gray-500">No results found.</p>
  {% endfor %}
</div>

{% endblock %}